

<table border="1" cellpadding="8">
  <tr>
    <th>ID</th>
    <th>Policy</th>
    <th>Sum Insured</th>
    <th>Premium</th>
    <th>Frequency</th>
    <th>Next Due</th>
    <th>Action</th>
  </tr>

  <tr *ngFor="let policy of policyList">
    <td>{{ policy.id }}</td>
    <td>{{ policy.name }}</td>
    <td>₹{{ policy.sumInsured }}</td>
    <td>₹{{ policy.premium }}</td>
    <td>{{ policy.frequency }}</td>
    <td>{{ policy.nextDueDate }}</td>
    <td>
      <button (click)="pay(policy.id)">Pay</button>
    </td>
  </tr>
</table>